#intro

  .wrapper


    .title
      Хотели бы вы зарабатывать
      %br
      от
      %span.bold 40 000
      до
      %span.bold 60 000
      рублей в месяц
      %br
      работая менеджером в рекламном агенстве?


    .buttons
      .button.left{rel: 'confirm'} Да, мне это интересно